@import "tailwindcss";

@theme inline {
  --color-primary: #217bb4;
  --color-primary-hover: #19608d;
  --color-surface: #f2f7fb;
  --color-surface-hover: #e5f0f8;
  
  --font-sans: var(--font-onest);
  --font-serif: var(--font-lora);
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
